input[type="text"] {
    margin-bottom: 10px; 
}

button {
    margin-bottom: 10px;
}

h1 {
    text-align: center; 
    background-color: #3f5ffb;   
    border: 1px solid #3217c7;      
    padding: 10px;               
    margin: 20px auto;           
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 20%;                          
    border-radius: 8px;
}

#weatherSection, #newsSection {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

#weatherImage {
    width: 20%; 
    height: auto; 
    display: block;
    margin: 10px auto; 
}

#newsImage {
    width: 20%; 
    height: auto; 
    display: block;
    margin: 10px auto; 
}

.weather-box {
    width: 50%;                      
    max-width: 600px;                
    margin: 20px auto;
    border: 1px solid #5ad8e1;        
    padding: 15px;                 
    margin-bottom: 20px;           
    background-color: #53dfeb;    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;           
}

.news-box {
    width: 50%;                      
    max-width: 600px;                
    margin: 20px auto;
    border: 1px solid #ed3737;        
    padding: 15px;                 
    margin-bottom: 20px;           
    background-color: #e73232;    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;           
}


